/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}
.kette-active {
  fill: #ff0000;
}
.border.bg-light {
  --bs-light-rgb: #fff;
  --bs-border-color: #fff;
  --bs-bg-opacity: 1;

  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  border: var(--bs-border-color) !important;
}

.btn-primary {
  --bs-btn-bg: #ff0000;
  --bs-btn-border-color: #ff0000;
  --bs-btn-hover-bg: #da2424;
  --bs-btn-hover-border-color: #ff0000;
  --bs-btn-active-bg: #da2424;
  --bs-btn-active-border-color: #da2424;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ff0000;
  --bs-btn-disabled-border-color: #ff0000;
}

.form-check-input:checked {
  background-color: #ff0000;
  border-color: #ff0000;
}
.list-group-item {
  --bs-list-group-border-color: #fff;
  border-color: var(--bs-list-group-border-color);
}
.list-group-item.active {
  --bs-list-group-active-color: #ff0000;
  --bs-list-group-active-bg: #fff;
  --bs-list-group-active-border-color: #fff;
  z-index: 2;
  color: var(--bs-list-group-active-color);
  background-color: var(--bs-list-group-active-bg);
  /* border-color: var(--bs-list-group-active-border-color); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

/**@font-face {
  font-family: "SparkasseLight";
  src: url("./fonts/Sparkasse_web_Lt.eot") format("embedded-opentype"),
    url("./fonts/Sparkasse_web_Lt.woff") format("woff"),
    url("./fonts/Sparkasse_web_Lt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SparkasseRegular";
  src: url("./fonts/Sparkasse_web_Rg.eot?") format("embedded-opentype"),
    url("./fonts/Sparkasse_web_Rg.woff") format("woff"),
    url("./fonts/Sparkasse_web_Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pictos-IF";
  src: url("./fonts/pictos-if.eot?#iebug") format("embedded-opentype"),
    url("./fonts/pictos-if.woff") format("woff"),
    url("./fonts/pictos-if.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SV-Icons";
  src: url("./fonts/sv_icons.eot?#iebug") format("embedded-opentype"),
    url("./fonts/sv_icons.woff") format("woff"),
    url("./fonts/sv_icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}*/

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "SparkasseRegular",
    "SparkasseLight" "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
